@font-face { font-family: 'MOF_M'; src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_six@1.2/MOF_M.woff') format('woff'); font-weight: normal; font-style: normal; }
body {
  background-color: black;
  background-position: center;
  color: white;
  margin: 0;
  padding: 0;
}
a {
  text-decoration: none;
  color: white;
}
.nav {
  display: flex;
  float: left;
  padding: 20px;
  height: 5vh;
}
.nav #logo {
  margin-right: calc(100vw - 550px);
  height: 100%;
  font-size: 25px;
  font-family: MOF_M;
  margin-top: 6px;
}
.nav #mmenu i {
  margin-right: 30px;
  color: white;
  font-size: 30px;
  margin-top: 2px;
  z-index: 2;
}
.nav #menu {
  padding-top: 4px;
}
@media screen and (min-width:600px) {
  .nav #mmenu {
    display: none;
  }
  .nav #menu {
    margin-right: 50px;
  }
  .nav {
    padding-left: 85px;
  }
  .sidenav {
    display: none;
  }
}
@media screen and (max-width: 599px) {
  .nav #menu {
    display: none;
  }
}
@media screen and (max-width: 600px) {
  body {
    background-size: 1200px;
  }
}
@media screen and (min-width: 500px) {
  body {
    background-size: 1500px;
  }
}
@media screen and (min-width: 1000px) {
  body {
    background-size: 2000px;
  }
}
@media screen and (min-height: 700px) and (max-height: 900px) {
  body {
    background-size: 1500px;
  }
}
@media screen and (min-height: 900px){
  body {
    background-size: 2300px;
  }
}
.background {
  text-align: center;
  padding-top: 40vh;
  font-size: 50px;
  height: 60vh;
}
.sidenav {
    height: 130vh;
    width: 0px;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #111;
    overflow-x: hidden;
    transition: 0.5s;
}

.sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s;
}

.sidenav a:hover {
    color: #f1f1f1;
}

.sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}

@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}
.footer {
  color: black;
  background-color: gray;
  color: white;
  padding: 30px;

}
.footer a:link {
  color: white;
  font-weight: bolder;
}
.content {
  padding: 30px;
  text-align: center;

}
.content img {
  width: 80vw;
}
@media screen and (min-width: 600px){
  .content img {
    width: 500px;
  }
}
#contact {
  width: 80vw;
  height: 50vh;
  border: none;
}
